body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 50px;
}

h2 {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
}

.section_index {
    display: flex;
    justify-content: center;
}

.div_fila {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cuadro_foto1 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 500px;
    height: 250px;
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto2 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto3 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 500px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto4 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 300px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.foto4_index {
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*card 1*/

.body_card1 {
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_card1 {
  background-color: white;
  width: 379.57px;
  height: 125.24px;
  display: flex;
}

.icono_card1 {
    width: 57.16;
    height: 57.16;
    margin-top: 34.04px;
    margin-left: 29.54px;
}

.contenido_card1 {
    margin-left: 29.54px;
    margin-top: 21.84px;
    display: flex;
    flex-direction: column;
}

.h1_card1 {
    font-size: 15.41px;
}

.p_card1 {
    font-size: 9px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 2px;
}

.botones_card1 {
    
}

.buton1_card1 {
    width: 89.92px;
    height: 26.97px;
    color: white;
    background-color: #00AEFF;
    border-radius: 2.57px;
    border: none;
}

.buton2_card1 {
    width: 89.92px;
    height: 26.97px;
    color: black;
    background-color: white;
    border-radius: 2.57px;
}

.p_butons_card1 {
    margin: 0;
}

.icono2_card1 img {
    width: 7.71px;
    margin-top: 13.49px;
    margin-left: 11.56px;
}