body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    margin-top: 5px;
    font-size: 50px;
}

h2 {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
}

.section_index {
    display: flex;
    justify-content: center;
}

.div_fila {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cuadro_foto1 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 500px;
    height: 250px;
    margin-top: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto2 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto3 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 500px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadro_foto4 {
    border: solid 1px rgba(0, 0, 0, 0.651);
    background-color: rgb(180, 176, 176);
    width: 300px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.foto4_index {
    margin-top: 20px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}